.App {
  text-align: center;
  padding: 45px;
}

/* -------  Media Query ------- */

@media all and (max-width: 768px) {
  h1 {
    font-size: 30px;
    padding: 5px;
  }

  h2 {
    font-size: 18px;
    padding: 5px;
  }

  div.input-group.input-group-lg {
    display: inline-flex;
    justify-content: center;
    padding: 10px;
  }

  span.input-group-text {
    padding: 10px;
  }

  button.btn.btn-secondary {
    margin-right: 0.3rem;
  }
}
